.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 60px;
  padding: 0 20px;
}

.headerBox .title {
  color: black;
}

.logo {
  text-align: left;
}

.icon-logo {
  width: 80px;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
}

.buttonHeader {
  text-align: center;
  width: 150px;
  padding: 5px;
  border: none;
  height: 30px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.446);
  cursor: pointer;
  font-size: 0.9rem;
  background-color: #4caf50;
  color: white;
}

.buttonHeader a {
  text-decoration:none;
  color:white
}

@media (max-width: 600px) {
  .headerBox {
    flex-direction: row;
    align-items: center;
  }

  .logo, .buttonHeader {
    flex: none;
    text-align: center;
    margin: 5px 0;
  }

  .title {
    display: none;
  }

  .icon-logo {
    max-width: 80px;
  }

  .buttonHeader {
    width: 50%;
  }
}